<!-- <div id=""> -->
  <img src="http://www.timeout.com.hk/media/content/large/9079_sheungluk.jpg" class="layer layer1">
  <!-- <img src="http://www.china-mike.com/wp-content/uploads/2011/01/sai-kung-yung-pak-trail-hike-map.jpg" class="layer layer2">
  <img src="http://cliparts.co/cliparts/rTL/opz/rTLopzjkc.png" class="layer layer3">
</div> -->