<h2>Log In</h2>

<form id="signin-form">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>