<form id="edit_your_profile">
  <div class="field">
    <label for="hiker_name">Name</label> <br>
    <input type="text" id="hiker_name" />
  </div>
  <div class="field">
    <label for="hiker_nickname">Change your Username</label> <br>
    <input type="text" id="hiker_nickname" />
  </div>
  <!-- <div class="field">
    <label for="image">Upload a picture of yourself?</label>
    <input type="file" name="image">
  </div> -->
  <div class="actions">
    <br><input type="submit" class="btn btn-lg btn-info"></button>
  </div>
</form>