<div id="hikers">
  <div class="well">
    <h1><%= @hiker.name %></h1>
    <% if @current_user %>
      <button id="edit_user_details" class="btn btn-lg btn-primary">Edit User Details</button>
    <% end %>
  </div>

  <div class="well">
    <h4>Details</h4><br>
  </div>
</div>