<form id="create_a_hike">
  <div class="field">
    <label for="hike_name">Hike Name</label> <br>
    <input type="text" id="hike_name" />
  </div><br>
  <div class="field">
    <label for="trails_list">Trail</label><br>
    <select id="regions_list">
      <option selected value="base">Please Select</option>
      <option value="Hong Kong Island">Hong Kong Island</option>
      <option value="Kowloon">Kowloon</option>
      <option value="Central New Territories">Central New Territories</option>
      <option value="Sai Kung">Sai Kung Country Park</option>
      <option value="Lamma Island">Lamma Island</option>
      <option value="Lantau Island">Lantau Island</option>
      <option value="Cheung Chau Island">Cheung Chau Island</option>
      <option value="Peng Chau Island">Peng Chau Island</option>
    </select>
    <br><br>
    <select id="trails_list">
      <option>Please choose from above</option>
    </select><br><br>
  </div>
  <div>
    <div class="field">
      <label for="date">Date</label><br>
      <input type="date" id="date" placeholder="yyyy/mm/dd" />
    </div>
    <div class="field">
      <label for="start_time">Start Time</label><br>
      <input type="text" id="start_time" />
    </div>
    <div class="field">
      <label for="meet_instructions">Meeting Instructions</label><br>
      <textarea id="meet_instructions" placeholder="Where will your group meet?"></textarea>
    </div>
  </div>
  <div>
    <div class="field">
      <label for="start_point">Start Point</label><br>
      <input type="text" id="start_point" placeholder="Placeholder" />
    </div>
    <div class="field">
      <label for="end_point">End Point</label><br>
      <input type="text" id="end_point" placeholder="Placeholder" />
    </div>
    <div class="field">
      <label for="hike_distance">Hike Distance</label><br>
      <input type="text" id="hike_distance" placeholder="0" /> <label>km</label>
    </div>
    <div class="field">
      <label for="hike_time">Estimated Time</label><br>
      <input type="text" id="hike_time" placeholder="0" /> <label>hrs</label>
    </div>
  </div> <br>
  <div class="actions">
    <input type="submit" class="btn btn-info" value="Create Hike">
  </div>
</form>