<div id="hike_details">
  <label>Event Name:</label><%=@hike.hike_name%></br>
  <label>Trail Details</label></br>
  <label>Region Selected: </label></br>
  <label>Trail Selected: </label></br>
  <label>Distance Hiked (Km): </label><%= @hike.hike_distance%></br>
  <label>Completion Time (Hrs): </label><%= @hike.hike_time%></br>
  <label>Date: </label><%= @hike.date%>

</div>