// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#regions {
  h4 {
        font-size: 25px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
}

#trails {

  .trail-links > a > div.item-wrapper {
    max-height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 25px 0px 25px;
    color: black;
    object-fit: cover;

    div.map-image-div {
      img {
        height: 200px;
      }

      h4 {
        font-size: 25px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
  }
}

#trail {
    .well {
      background-color: lightblue;
    }


  .trail-details > div.item-wrapper {
    max-height: 500px;
    border: 3px grey;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;

    object-fit: cover;

    div.trail-image-div {
      img {
        height: 500px;
      }
    }
  }
}