// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trails-index {
  .container-fluid {
    .jumbotron {
      background-color: lightgreen;
    }
  }

  .trail-links > a > div.item-wrapper {
    max-height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px 25px 0px 25px;
    object-fit: cover;

    div.map-image-div {
      img {
        height: 200px;
      }

      h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
      }
    }
  }
}